body {
  margin: 0 auto
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/c4/8b/b2/c48bb2ea7a089f5d0b504b9045485670.jpg")
  height: 100%
}

.container {
  // border: 1px solid white
  margin: 15px auto 0 auto
  width: 900px
}

.first_row {
  background-color: white
  height: 40px
  position: relative
}

.navbar, footer {
  padding: 10px 0 0 10px
  background-color: white
  position: absolute
  left: 0
}

.navbar a, .order a, .text_our_market a, footer a{
  text-decoration: none
  color: black
}

.order {
  position: absolute
  padding: 5px 0 0 350px
}

.order img {
  width: 20px
}

.search {
  float: right
  width: 250px
  height 25px
  padding: 0 0 0 0
  margin: 5px auto 0 0
  border: grey 1px solid
}

.search input {
  margin: 5px 0 0 10px
  border: 0 none
}

.search #search_btn {
  float: right
  padding: 0 10px 0 0
}

.second_row {
  margin: 10px 0 0 0
  // background-color: white
  position: relative
}

.second_row img {
  position: absolute
  border: 1px solid
}

.menu_product {
  position: absolute
  width: 200px
  height: 55px
  margin: 27px 0 0 0
  background-color: black
  top: 50%
  left 50%
  transform: translate(-72%, -50%)
  border: grey 1px solid
}

.menu_product a {
  width: 50px
  height: 50px
  color: white
  text-decoration: none
  width: auto
  position: absolute
  margin: 30px 0 0 15px
}

.menu_custom a {
  width: 50px
  height: 50px
  color: white
  text-decoration: none
  width: auto
  position: absolute
  margin: 10px 0 0 15px
}

.menu_about a {
  width: 50px
  height: 50px
  color: black
  text-decoration: none
  width: auto
  position: absolute
  margin: 30px 0 0 15px
}

.menu_custom {
  position: absolute
  width: 200px
  height: 55px
  margin: 27px 0 0 0
  background-color: black
  top: 50%
  left 70%
  transform: translate(-60%, -50%)
  border: grey 1px solid
}

.menu_about {
  position: absolute
  width: 180px
  height: 55px
  margin: 27px 0 0 0
  background-color: white
  top: 0
  right: 0
  transform: translate(0%, -50%)
}

.third_row {
  border: 1px solid
  height: 50px
  width: 100%
  position: relative
  margin: 75px 0 0 0
  background-color: white
}

ul {
  list-style-type: none
  margin: 0 auto 0 auto
  padding: 0
  overflow: hidden
}

li {
    float: left
}

li a {
    display: block
    color: black
    text-align: center
    padding: 14px 16px
    text-decoration: none
}

.content {
  position: relative;
}

.left_col img {
  width: 650px
  margin: 10px 0 0 0
}

.company_quote {
  position: absolute
  width: 300px
  height: 275px
  background-color: black
  top: 0
  opacity: 0.7
  margin: 10px 0 0 275px
}

#quote_text {
  color: white
  margin: 25% 0 0 10%
  font-size: 150%
}

.corporate_film {
  position: absolute
  margin: 10px 0 0 0
  top: 0
  right: 0
}

.loc_worldwide {
  position: absolute
  width: 235px
  height: 170px
  background-color: #6d7771
  top: 185px
  right: 0
  bottom: 0
  margin: 10px 0 0 0
}

.loc_text, .text_our_market, .text_fact_figures, .text_company_profile, .text_organization {
  margin: 20% 0 0 5%
  width: 100%
}

.second_row_content {
  position: relative
}

.our_market {
  position: absolute
  width: 200px
  height: 170px
  background-color: white
  border: grey 1px solid
  top: 0
}

.fact_figures {
  position: absolute
  width: 215px
  height: 170px
  background-color: #6d7771
  top: 0
  margin: 0 0 0 210px
}

.company_profile {
    position: absolute
    width: 215px
    height: 170px
    background-color: #9b222e
    top: 0
    margin: 0 0 0 435px
}

.organization {
  position: absolute
  width: 230px
  height: 170px
  background-color: white
  border: grey 1px solid
  // top: 0
  right: 0
  margin: 0 0 0 750px
}

footer {
  position: relative
  background-color: white
  margin: 180px 0 0 0
  height: 35px
}

.socmed {
  position: absolute
  top: 10px
  right: 0
}

.socmed img {
  // position: relative
  width: 25px
}
